body {
  background: #fff;
  margin: 0;
  font-family: sans-serif;
}

.socketState {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 5px;
}

.canvas {
  width: 100vw;
  height: 100vh;
}

.canvas > svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
}
